html, body{
    height:100%;
    padding: 0;
    margin: 0px 8px;
}


.outer_div{
    height:240px;	
}

.outer_div > div{
    width:150px;
    height: 150px;
    display:inline-block;
    background-color: red;
}

#special_one + div{
    background-color: green;
}

#special_two ~ div{
    background-color: orange;
}